$candara :'Candara';
$shadow12:rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
$shadow5:rgba(0, 0, 0, 0.24) 0px 3px 8px;
$shadow18: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
$base_color : #0ca59d;