.details{
    .row{
        padding-right: 2rem;
        display: flex;
        justify-content: center;

    }
}
@media screen and (max-width:767px ) and  (min-width: 600px) {
    .details{
        .row{
            display: flex;
            justify-content: center;
          
        }
    }

}
@media screen and (max-width:600px ){
    .details{
        .row{
            display: block;
            justify-content: center;
            padding-right: 3rem !important;
         
        }
    }

}