@import "mixin";
@import "var";
@import url('https://fonts.googleapis.com/css?family=Oswald');   
@import url('https://fonts.googleapis.com/css?family=Roboto Condensed');   
@import url('https://fonts.googleapis.com/css?family=Bebas Neue');   
@import url('https://fonts.googleapis.com/css?family=Playfair Display');   
@import url('https://fonts.googleapis.com/css?family=Titillium Web');   
@import url('https://fonts.googleapis.com/css?family=Libre Baskerville');   
@import url('https://fonts.googleapis.com/css?family=Akshar');   
$base_button_color: rgb(255, 102, 0);

html,
body{
  width:100%;
  overflow-x:hidden;
}

#btn-back-to-top {
  position: fixed;
  background-color: #0ca59d;
  color: #f9f9f9;
  transition: 400ms ;
  bottom: 20px;
  right: 20px;
  display: none;

  &:hover{
    background-color: #d1be14;
    transition: 400ms ;
    i{
      font-size: larger;
      transition: 1s ;
      transform: translateY(-1rem);
    
      
     
    }

  }
}
.pree_header{

    margin: 0;
    border-collapse: collapse;
    padding: 0px;
    width: 100vw;
    height: 4rem;
    background-color: #0ca59d;
    justify-content: center;
    border-bottom: 0.5px solid rgb(251, 251, 251);
    p{
        @include nomp();
      color: #f9f9f9;
      font-family:'Segoe UI';
      font-size: 1.5rem;
      padding: 10px 3rem;
      
       
    }
    .header_right_content{
        padding: 10px 2rem;
        text-align: right;
        color: #f9f9f9;
        font-size: 1.5rem;
       
        ul{
            list-style-type: none; 
            li{
                display: inline;
                padding: 1rem;
            }
        }

    }
}
.header_section{
   
    background-color: #0ca59d;
    position: relative;
    border-bottom-left-radius:30%;
    .icon {
      width: 50px;
      height: 50px;
      background-size: cover;
      background-repeat: no-repeat;
      display: inline-block;
      background-image: url(../icons/logo.svg);
      border-radius: 50%;
      transform: translateY(1rem);
     margin-left: 1rem;
    }
    
    
    .headerBody{
      width: 100%;
      height:60rem;
     
     
    }
 
   
  
   
    

  .row{
      width: 100vw;
      margin-top: 5%;
      height: fit-content;
      text-align: left;
    
     float: left;
     .col-1{
         padding-left: 8rem;
        
         .button{
           @include button($base_button_color);
         }
          
         
        

     }
     .col-2{
         float: right;
         text-align: right;
         height: 400px;
     }
     h1{
         color: #f9f9f9;
        margin-left: 2%;
         font-size: 6rem;
         font-family: Rockwell;
     }
     h5{
         color: #f9f9f9;
         font-size: medium;
         font-family: 'Bahnschrift Light';
     }
     img{
        max-width: 100%;
        max-height: 120%;
        display: block; /* remove extra space below image */
     }
  }

}
.featured_section{
   @include featured;
   height: 650px;
   
    .subtitle{
        @include center;
        width: 50%;
    }
    h5{
        font-family: 'Courier';
        font-size: 1.5rem;
    }
    h1{
        font-weight: bold;
        font-family: $candara;
    }

    .row{
        padding-right: 6%;
      
      .img{
          height: 300px;
          width: 300px;
          background-color: #f8b500;
          @include center;
          
         
      }
      .card_body{
        h3{
            text-align: left;
            font-weight: bold;
            font-size: 1.9rem;
        }
        h5{
            text-align: left;
            font-family: Dotum;
        }
        button{
            @include button($base_button_color);
        }
        i{
            font-size: larger;
            margin-top: 1px;
            position: relative;
        }
      }
      img{
        @include imageFit;
      }
      .services{
          @include center;
          padding: 10px;

      }
       
    }


}
.idea_section{
  background-color: #f4f8f8;
  box-shadow: $shadow12;
 width: 100vw;
 height: 500px;




 .row{
   margin-top: 6%;
   .imgDiv{
     width: 100%;
     height: 400px;
   }
   
   img{
     @include imageFit
   }

   .ideaDetails{
     
     margin-top: 15%;
     text-align: left;
     h2{
       font-family:Courier ;
       font-weight: bold;
      
     }
     ul{
      list-style-type: none; 
      font-size: 2rem;
      font-weight: bold;
      font-family: Didot;
     
     }
     i {
       color: #3fc727;
     }
     .option{
       margin-left: 5px;
     }
     .options1{
    
      display: inline-block;
      position: relative;
     }
     .options2{
    
      display: inline-block;
      position: relative;
     }
     
   
   }
   .button{
     margin-top: 20px;
    @include button($base_button_color);
  }
 }
 
  
}
.about{
  margin-top: 40px;
  width: 100vw;
  height: 500px;
  .col1{
    margin-top: 10%;
    

    button{
      @include button($base_button_color);
      border: 0px;
    }
  }
  h1{
    font-family:'Franklin Gothic Medium';
  }
  h3{
    font-family: FrankRuehl;
    color: $base_color;

  }
  h4{
    font-family: 'Gungsuh';
    color: #626060f6;
  }
  .imageDiv{
    width: 95%;
    height: 500px;
    
   
    img{
        @include imageFit;
    }
  }
  
  
}
.serviceS{
   background-image: url(../images/bg5.jpg);
   background-size: cover;
   background-position: 50% 50%;
   margin-top: 40px;
   margin-bottom: 40px;
   box-shadow: $shadow18;
   border-radius: 2%;
   text-align: center;
  color: #fdf4f4;
  width: 100%;
  height:100%;
  padding: 10px 0px 10px 50px;
  .container{
   
  }
  .header{
    text-align: center;
    h1{
      font-family:Bebas Neue ;
    }
    .subtitle{
      width: 50%;
      @include center;
      h5{
        font-family: 'Gill Sans';
      }

    }
    
  }
  .row{
    
    .element{
      height: 230px;
      width: 90%;
      margin-bottom: 20px;
      box-shadow: $shadow18;
      border-radius: 1rem;
      transition: 700ms;
      text-align: center;
      background-color: #000000c2;
     @include content;
     margin-top: 40px;
     &:hover{
       transform: translateY(-1rem);
       .icon{
        transition: 700ms;
         background-color: #0ca59d;
         i{
          transition: 70ms;
           color: #ffffff;
           font-size: 4rem;
         }
       }
     }

    }
  }
  .button{
    @include button($base_button_color);
    text-align: center;
  }

  
}
.contactUS{
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  .headers{
    text-align: center;
    padding-bottom: 20px;
    h3{
      font-family: 'Roboto Condensed';
      color: #0ca59d;

    }
    h1{
      font-family: 'Bebas Neue';
      letter-spacing: 3px;
    }
   

  }

  .row{
    .image{
      height: 100%;
      width: 100%;
      img{
        @include imageFit;
      }
    }

    .contract_form{
      .form-group{
        input{
          width: 100%;
          height: 3em;
          border-radius: 1em,1em,0,0;
          border-style: none;
          background-color: #defcf9;
          box-shadow: $shadow5;
          padding: 1em;
          font-family:Oswald ;
         
         
        }
        textarea{
          width: 100%;
          height: 10em;
          border-radius: 1em,1em,0,0;
          border-style: none;
          background-color: #defcf9;
          box-shadow: $shadow5;
          padding: 1em;
          font-family:Oswald ;
        }
      }
      .button{
        margin-top: 10px;
        @include button($base_button_color);
      }
    }
  }
  .second{
    text-align: center;
    padding: 42px 18px 23px 20px;
    .element{
      height: 230px;
      margin-bottom: 20px;
      box-shadow: $shadow18;
      border-radius: 1rem;
      transition: 700ms;
    
      .content{    
        transform: translateY(30%);
       
        .icon{
          height: 50px;
          width: 50px;
          @include center;
          border-radius: 50%;
         
        }

        i{
          color: #0ca59d;
          font-size: 3rem;
          background-size: 30px 30px;
          transform: translateY(30%);
        }
      }

      &:hover{
        transform: translateY(-1rem);
      
        .icon{
          transition: 700ms;
          background-color: #0ca59d;
        }
        i{
          transition: 700ms;
          color: #fdf4f4;
        }
       
      }
      
     
    }
  }
}
.newsletter{
  height: 100%;
  .container{
    @include center;
    width: 90%;
    background-color: #0ca59d;
  }
}

footer{
  width: 100vw;
  height: 350px;
  background-color: #170641;
  color: #f4f8f8;

 .row{
  margin-top: 7%;
   .baraka{
    .title{
      position: relative;
      font-family: 'Oswald';
      &::after{
        $bottom : 44px;
        $left:6px;
       @include afterLine($bottom,$left);
      }
      &:hover::after{
       width: 30%;
     }
     
    }
    h5{
       font-family: 'Microsoft JhengHei UI';
       word-wrap: break-word;
    }
    ul{
     list-style-type: none;
     padding: 0%; 
     margin-top: 35px;
     
     
     
    }
    i{
     color: #f4f8f8;
    }
    li{
      display: inline;
      font-size: 2rem;
      padding: 0.5rem;
      margin-left: 10px;
      background-color: #323233;
      border-radius: 50%;
      
    }
    .fa-facebook{
     padding: 3px;
 
    }
    .fa-tumblr{
     padding: 6px;
    }
   }

   .service{
    @include fotterSections;
    .list{
      ul{
        a{
          color: white;
          font-family: Akshar;
          font-size: 1.7rem;
          letter-spacing: 143%;
        }
      }
    }
       
   }
   .quickLinks{
     @include fotterSections;
     ul{
      a{
        color: white;
        font-family: Akshar;
        font-size: 1.7rem;
        letter-spacing: 143%;
       
        
      }
    }
   }
   .contact{
     @include fotterSections;
     .list{
       li{
         font-family:Titillium Web ;
       }
       a{
         color: white;
       }
     }
   }
   

 }
}






//////////////////Nav BAr/////////////////
$content-width: 1000px;
$breakpoint: 799px;
$nav-height: 70px;
$nav-background:#0ca59d;
$nav-font-color: #fdf4f4;
$link-hover-color: #f8b500;

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body{
  font-family: 'Poppins'
}

.navigation {
  height: $nav-height;
  background: $nav-background;
}

.nav-container {
  max-width: $content-width;
  margin: 0 auto;
}

.brand {
  position: relative;
  padding-left: 0px;
  float: left;
  line-height: $nav-height;
  text-transform: uppercase;
  font-size: 1.4em;
  
  

  a,
  a:visited {
    color: $nav-font-color;
    text-decoration: none;
  }
}

nav {
  float: right;
  ul {
      list-style: none;
      margin: 0;
      padding: 0;
    li {
      float: left;
      position: relative;
      a {
        display: block;
        padding: 10px 20px 0 20px;
        line-height: 50px;
        background: $nav-background;
        color: $nav-font-color;
        text-decoration: none;
        font-size: medium;
        font-family:'Lucida Sans';
        
        
         &::before {
           transition: 300ms;
           height: 5px;
           content: "";
           position: absolute;
           background-color: $link-hover-color;
           width: 0%;
           bottom: 0px;
        }

        &:hover::before{
          width: 70%;
        }
        &:not(:only-child):after {
          padding-left: 4px;
          content: ' ▾';
        }
      } // Dropdown list
      ul li {
        min-width: 190px;
        a {
          padding: 15px;
          line-height: 20px;
        }
      }
    }
  }
}


.nav-dropdown {
  display: none;
  position: absolute;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: $nav-background;
  height: 100px;
  width: $nav-height;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}

@media only screen and (max-width: $breakpoint) {
  .nav-mobile {
    display: block;
    text-align: center;
    margin-bottom: 2rem;
    
  }
  nav {
      width: 100%;
      padding: 0px 0 15px;
     
     
    ul {
      display: none;
      
      li{
        float: none;
        
        a {
          padding: 15px;
          line-height: 20px;
          
          &:hover::before{
            width: 20%;
          }
        }
        ul li a {
          padding-left: 30px;
        }
      }
    }
  }
  .nav-dropdown {
    position: static;
  }
}

#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
  span,
  span:before,
  span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: $link-hover-color;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
  }
  span:before {
    top: -10px;
  }
  span:after {
    bottom: -10px;
  }
  &.active span {
    background-color: transparent;
    &:before,
    &:after {
      top: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}

@media screen and (min-width: $breakpoint) {
  .nav-list {
    display: block !important;
    
  }
}
////////////////Nav bar ENDS////////////////////

//////////////////////////Media Queries///////////////////////
@media screen and (max-width:600px ){
  .header_section{
    height: 864px;
    
    border-bottom-left-radius:0%;
    .brand{

    }
    img{
      padding-left: 49px;
    }
    .row{
      margin-top: 0%;

    }
    
    
  }
  .featured_section{
    padding: 0%;
    margin-top: 10vh;
    height: 100%;
    .heading{
      padding: 0 31px 0 56px;
    }
    .subtitle{
      width: 80%;
      

    }
    .row{
      padding: 0% ;
      justify-content: center;
    }
    .services{
      height: 480px;
      
      
      
      
    }
  
}
.idea_section{
  height: 103%;
  .row{
    .imgDiv {
      @include center;
      width: 70%;
      height: 384px;
  }
    .ideaDetails{
      padding: 0px 30px 0 30px;
    }
  }
}
.about{
  height: 100%;
  .imageDiv{
    width: 75%;
    height: 300px;
    @include center;

  }

  .col1{
    padding: 5px 42px 0 44px;
  }
}

.contactUS{
  .headers{
   h1{
     
     margin-left: 5px;
   }
  }
  .row{
    
    .image{
      height: 60%;
      width: 60%;
      @include center;
      img{
        @include imageFit;
      }
    }
    .contract_form{
      margin-left: 15px;
    }
  }
  .second{
    @include center;
  }
  .button{
    margin-left: 10px;
  }
  
  
}
footer{
  height: 100%;
  .row{
    padding-left: 3rem;
  }
 
}

  

}


@media screen and (max-width:767px ) and  (min-width: 600px) {
  .header_section{
    height: 930px;
    border-bottom-left-radius:0%;
  }
  .featured_section{
    padding: 0%;
    margin-top: 10vh;
    height: 100%;
    .services{
      height: 462px;
    }
  
}
.idea_section{
  height:100%;
  
  .row{
    .imgDiv{
     @include center;
     padding: 5px 43px 0 43px;
    }
    .ideaDetails{
      padding: 5px 50px 0 60px;
    }
  }
}
.about{
  height:100%;
  .col1{
    padding: 5px 71px 0 75px;
  }
  .imageDiv{
    padding: 5px 50px 0 69px;
   }
}
.contactUS{
  .row{
    .image{
      height: 60%;
      width: 60%;
      @include center;
      img{
        @include imageFit;
      }
    }
    .contract_form{
      margin-left: 15px;
    }
  }
  
 .second{
   @include center;
 }
}
footer{
  height:100%;
  .row{
    padding-left: 6rem;
  }
 
}

 

}

@media screen and (max-width:991px ) and  (min-width: 767px) {
  .header_section{
    height: 946px;
    border-bottom-left-radius:20%;
  }
  .featured_section{
    padding: 0%;
    margin-top: 10vh;
    height:100%;
    .row{
      padding-right: 0%;
      

    }
    #lastCol{
      
      top: 50%;
      left: 50%;
      transform: translate(-50%, );
     
    }
    .services{
      height: 462px;
     
      
     
    }
  
}
.idea_section{
  height:100%;
  .row{
    .imgDiv{
     @include center;
     padding: 5px 43px 0 43px;
    }
    .ideaDetails{
      padding: 5px 50px 0 60px;
    }
  }
}
.about{
  height: 100%;
  .col1{
    padding: 5px 71px 0 75px;
  }
  .imageDiv{
    padding: 5px 50px 0 69px;
   }
}
.contactUS{
  .row{
    .image{
      height: 60%;
      width: 60%;
      @include center;
      img{
        @include imageFit;
      }
    }
    .contract_form{
      margin-left: 15px;
    }
  }
  
  .second{
    display: flex;
    justify-content: center;

  }
}
footer{
  height: 100%;
  
  .row{
    padding: 0%;
  }
 
}

 

}
@media screen and (max-width:1199px ) and  (min-width: 991px){
  .header_section{
    height: 600px;
    border-bottom-left-radius:20%;
  }
  .featured_section{
    padding: 0%;
    margin-top: 10vh;
    height: 100%;
    
  
}
.idea_section{
  height: 100%;
  
}
.about{
  height: 100%;
  
}
.contactUS{
  .second{
    display: flex;
    justify-content: center;

  }
}
footer{
  height: 100%;
  
  .row{
    padding: 0%;
  }
 
}

 

}


